//colors
$color_cadet_blue_approx: #abb3bc;
$white: #fff;
$black: #000000;
$mine_shaft: #323232;
$color_radical_red_approx: #ff3465;
$color_black_haze_approx: #f9fafa;
$color_jade_20_approx: rgba(0, 184, 122, 0.2);
$color_jade_approx: #00b87a;
$black_10: rgba(0, 0, 0, 0.1);
$color_alabaster_approx: #f8f8f8;
$color_athens_gray_approx: #eef1f4;
$color_tiara_approx: #d1d2d2;
$color_raven_approx: #7b838c;
$color_silver_approx: #b9b9b9;
$color_nobel_approx: #b8b8b8;
$color_dove_gray_approx: #707070;
$color_mercury_approx: #e7e7e7;
$color_heather_approx: #c5cad0;

//urls
$url_0: url(../fonts/Montserrat-Regular.eot?#iefix);
$url_1: url(../fonts/Montserrat-Regular.woff);
$url_2: url(../fonts/Montserrat-Regular.ttf);
$url_3: url(../fonts/Montserrat-Regular.svg#Montserrat-Regular);
$url_4: url(../fonts/Montserrat-Medium.eot?#iefix);
$url_5: url(../fonts/Montserrat-Medium.woff);
$url_6: url(../fonts/Montserrat-Medium.ttf);
$url_7: url(../fonts/Montserrat-Medium.svg#Montserrat-Medium);
$url_8: url(../img/flag.svg);
$url_9: url(../img/eye-on.svg);
$url_10: url(../img/eye-off.svg);
$url_11: url(../img/ok-on.svg);
$url_12: url(../img/sv.svg);
$url_13: url(../img/ok-off.svg);
$url_14: url(../img/bv.png);
$url_15: url(../img/bvd.png);
$url_16: url(../fonts/fontello.eot?13442593);
$url_17: url(../fonts/fontello.eot?13442593#iefix);
$url_18: url(../fonts/fontello.woff2?13442593);
$url_19: url(../fonts/fontello.woff?13442593);
$url_20: url(../fonts/fontello.ttf?13442593);
$url_21: url(../fonts/fontello.svg?13442593#fontello);